<?xml version="1.0"?>  
<robot name="ping_pong_ball">  
  <link name="ball">  
    <inertial>  
      <mass value="0.0027"/>  
      <inertia ixx="0.000000432" ixy="0.0" ixz="0.0"  
               iyy="0.000000432" iyz="0.0"  
               izz="0.000000432"/>  
    </inertial>  
      
    <visual>  
      <geometry>  
        <sphere radius="0.02"/>  
      </geometry>  
      <material name="white">  
        <color rgba="1 1 1 1"/>  
      </material>  
    </visual>  
      
    <collision>  
      <geometry>  
        <sphere radius="0.02"/>  
      </geometry>  
    </collision>  
  </link>  
</robot>